<h1>Hello!</h1>

<div>
  <p>Welcome to Nearby SLU application,</p>
  <p> We provide you will all the information to make your life easier in finding the nearby places, tourist destinations, government offices and what not.</p>
</div>
<div>
  <p>
    <br />
  </p>
</div>
<div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/3081415.png" class="ribbon" alt="" />
    </div>
    <b>SHOPPING</b>
    <div id="desc">
      Click here to know about the nearest shopping malls
    </div>
  </div>
  <div style="border: none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">

    <div id="content">
      <img src="../../assets/2255126.png" class="ribbon" alt="" />
    </div>
    <b>GROCERIES</b>
    <div id="desc">
      Click here to know about the nearby Grocery stores
    </div>
  </div>
  <div style="border: none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">

    <div id="content">
      <img src="../../assets/1582292.png" class="ribbon" alt="" />
    </div>
    <b>OFFICES</b>
    <div id="desc">
      Click here to know about nearby government offices
    </div>
  </div>
  <p></p>
  <div class="catog">

    <div id="content">
      <img src="../../assets/3197831.png" class="ribbon" alt="" />
    </div>
    <b>SCHOOLS</b>
    <div id="desc">
      Click here to know about the nearby schools
    </div>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/149228.png" class="ribbon" alt="" />
    </div>
    <b>TRANSPORT</b>
    <div id="desc">
      Click here to know about nearby transport options
    </div>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/565656.png" class="ribbon" alt="" />
    </div>
    <b>ATTRACTIONS</b>
    <div id="desc">
      Click here to know about nearby tourist attractions
    </div>
  </div>
  <p></p>
  <div class="catog">
    <div id="content">
      <img src="../../assets/2895071.png" class="ribbon" alt="" />
    </div>
    <b>HOSPITALS</b>
    <div id="desc">
      Click here to know about nearby hospital facilities.
    </div>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/562678.png" class="ribbon" alt="" />
    </div>
    <b>RESTAURANTS</b>
    <div id="desc">
      Click here to know about the nearby restaurants
    </div>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/1669617.png" class="ribbon" alt="" />
    </div>
    <b>BANKS</b>
    <div id="desc">
      Click here to know about the nearby banks
    </div>
  </div>
  <p></p> 
  <div class="catog">
    <div id="content">
      <img src="../../assets/3270055.png" class="ribbon" alt="" />
    </div>
    <b>EVENTS</b>
    <div id="desc">
      Click here to know about the events conducted in the school
    </div>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <div id="content">
      <img src="../../assets/4300058.png" class="ribbon" alt="" />
    </div>
    <b>COMPANIES</b>
    <div id="desc">
      Click here to know about the nearby companies providing work opportunities.
    </div>
  </div>
</div>


<!--<div class="form-group" style="margin-top: 12%; float:right; position: relative; ">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button type="submit" class="btn btn-primary btn-md" id="btndisclaimer">Add a new place</button>
  </div>
</div>-->

<style>
  #btndisclaimer {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  .catog {
    border: solid;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px
  }
  #content {
    position: relative;
  }
    #content img {
      padding-right: 10px;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 18%;
    }
  #desc {
    border: none;
    width: 80%;
  }
</style>

