<h1>Hello!</h1>

<div>
  <p>Welcome to Nearby SLU application,</p>
  <p> We provide you will all the information to make your life easier in finding the nearby places, tourist destinations, government offices and what not.</p>
</div>
<div>
  <div class="catog">
    <b>SHOPPING</b>
    <p>
      Click here to know about the nearest shopping malls
    </p>
  </div>
  <div style="border: none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>GROCERIES</b>
    <p>
      Clcik here to know about the nearby Grocery stores
    </p>
  </div>
  <div style="border: none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>OFFICES</b>
    <p>
      Click here for nearby government offices
    </p>
  </div>
  <p></p>
  <div class="catog">
    <b>SCHOOLS</b>
    <p>
      Click here to know about the nearby schools
    </p>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>TRANSPORT</b>
    <p>
      Click here to know about nearby transport options
    </p>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>ATTRACTIONS</b>
    <p>
      Click here to know about nearby tourist attractions
    </p>
  </div>
  <p></p>
  <div class="catog">
    <b>HOSPITALS</b>
    <p>
      Click here to know about nearby hospital facilities.
    </p>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>RESTAURENTS</b>
    <p>
      Click here to know about the nearby restaurants
    </p>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b>BANKS</b>
    <p>
      Click here to know about the nearby banks
    </p>
  </div>
  <p></p>
  <div class="catog">
    <b>EVENTS</b>
    <p>
      Click here to know about the events conducted in the school
    </p>
  </div>
  <div style="border:none; width: 5%; display: inline-block; ">
  </div>
  <div class="catog">
    <b> COMPANIES</b>
    <p>
      Click here to know about the nearby companies providing work opportunities.
    </p>
  </div>
</div>

<style>
  .catog {
    border: solid;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    padding-left: 5px
  }
</style>

