<div class="jumbotron py-3">
  <h1 class="display-4  ">Add a new Place</h1>
</div>
<div class="row">
  <div class="col-md-5">
    <app-newplacaddform></app-newplacaddform>
  </div>
  <div class="col-md-5">
    <p>
      Recently added places
    </p>
    <table class=" table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Distance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td (click)="populateForm(pd)">{{pd.placeName}}</td>
          <td (click)="populateForm(pd)">{{pd.description}}</td>
          <td (click)="populateForm(pd)">{{pd.category}}</td>
          <td (click)="populateForm(pd)">{{pd.distance}}</td>
          <td align="center">
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.placeId)"></i>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
