<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="offerId" [value]="service.formData.placeId" />
  <div class="form-group">
    <label>Offer Name</label>
    <input class="form-control form-control-lg" offerholder="Offer Name" name="offerName"
           #cardOwnerName="ngModel" [(ngModel)]="service.formData.placeName">
  </div>
  <div class="form-group">
    <label>Offer Description</label>
    <input class="form-control form-control-lg" offerholder="Offer Description" name="offerdescription"
           #cardNumber="ngModel" [(ngModel)]="service.formData.description">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Offer Category</label>
      <input class="form-control form-control-lg" offerholder="Offer Category" name="NewOffercategory"
             #cardNumber="ngModel" [(ngModel)]="service.formData.category">
    </div>
    <div class="form-group col-md-6">
      <label>Valid up to</label>
      <input class="form-control form-control-lg" offerholder="Offer valid upto" name="OfferValidupto"
             #cardNumber="ngModel" [(ngModel)]="service.formData.distance">
    </div>
  </div>
  <p>

  </p>
  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
  <p>

  </p>
  <div style="border: solid; border-color: forestgreen; fill: chartreuse;border-radius:8px;vertical-align:central" *ngIf="isNewOfferPosted">
    <p style="color:darkolivegreen;font-size:15px;font-weight:bold">Success!</p>
  </div>
</form>


  <!--(submit)="onSubmit(form)-->
